:root {
  --background-colour: #69b4ac;
  --background-secondary-colour: #f9b9f028;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --font-colour: #301a4b;
  --accent-colour: #f9b9f2;
}
body {
  background-color: var(--background-colour) !important;
  font-family: var(--secondary-font) !important;
  color: var(--font-colour) !important;
}
h1 {
  color: var(--font-colour) !important;
  font-family: var(--primary-font);
  font-size: 90px !important;
  font-weight: 700 !important;
}
h2 {
  font-family: var(--primary-font);
  font-size: 28px !important;
  font-weight: 100 !important;
  color: var(--font-colour) !important;
  margin-bottom: 80px !important;
}
h3 {
  font-family: var(--secondary-font) !important;
  font-weight: 400 !important;
  font-size: 40px !important;
  color: var(--font-colour) !important;
  line-height: 0 !important;
}
header {
  color: var(--font-colour) !important;
  font-family: var(--primary-font);
  font-size: 50px !important;
  font-weight: 600 !important;
  padding-top: 20px;
}
p {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 20px 20px 0;
}
i {
  color: var(--font-colour);
}
.nav-style {
  /* padding: 10px 150px !important; */
}
.navbar-brand,
.nav-link {
  color: var(--font-colour) !important;
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
}
.active {
  color: var(--accent-colour) !important;
}
.hero {
  padding: 160px 0 120px 0;
}
.btn {
  background-color: var(--accent-colour) !important;
  color: var(--font-colour) !important;
  font-weight: 700 !important;
  padding: 15px 25px !important;
  box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.16);
}
.btn:hover {
  color: var(--background-colour) !important;
}
.project {
  margin: 80px auto 80px auto !important;
}
.about-h1 {
  font-size: 60px !important;
  text-align: center;
}
.about-content {
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 40px 0;
  margin: 0;
}
.my-image {
  border-radius: 20px;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.16);
  max-width: 100%;
  height: auto;
}
.work-h2 {
  margin: 20px auto 5px auto !important;
  font-weight: 600 !important;
}
.highlight {
  color: var(--accent-colour);
}